- if @logged_in
  = content_for :javascripts_to_load do
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDa-llwFFalhiAG7hDfGYinRC5RohcfrBU&sensor=false"
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
    = javascript_include_tag 'new_drive'

  %h1 Dodaj nową trasę
  
  %div
    = form_for @drive do |f|
      #from
        = f.label 'z'
        %br/
        = text_field_tag :start_address, nil, {:id => 'start_addr', :autocomplete => :off}
      #through
        = f.label 'przez'
        %br/
        = text_field_tag :through0, nil
        %button{:type => "button", :id => "throughButton", :autocomplete => :off} plus
        %br/
      #to
        = f.label 'do'
        %br/
        = text_field_tag :destination_address, nil, {:id => 'dest_addr', :autocomplete => :off}
      #seats
        = f.label 'ilość miejsc:'
        %br/
        = f.text_field :seats, :size => 3
      #date_picker
        = f.label 'data wyjazdu:'
        %br/
        = f.date_select :date
      #submit
        = f.submit 'dodaj trasę'


  #map_canvas{:style => "width:350px; height:350px; float: right; position: absolute; left: 350px; top: 50px;"}
    
- else
  %p
    Aby kontunuować musisz być zalogowany. 
    = link_to 'zaloguj się', new_user_session_path
  %p
    Jeśli nie masz konta, możesz się 
    = link_to 'zarejestrować.', new_user_registration_path

