= content_for :javascripts_to_load do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDa-llwFFalhiAG7hDfGYinRC5RohcfrBU&sensor=false"
  = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
  = javascript_include_tag 'search_drive'

%h1 Wyszukaj trasę
%div
  = form_tag({:controller => 'drives', :action => 'search'}, :method => 'get', :id => 'search_drive') do
    = label_tag :z
    %br/
    = text_field_tag :start_address, nil, {:autocomplete => :off}
    %br/
    = label_tag :do
    %br/
    = text_field_tag :dest_address, nil, {:autocomplete => :off}
    %br/
    = submit_tag 'szukaj', {:id => 'search_submit'}
    
#map_canvas{:style => "width:350px; height:350px; float: right; position: absolute; left: 350px; top: 50px;"}
