- if @drive
  
  = content_for :javascripts_to_load do
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDa-llwFFalhiAG7hDfGYinRC5RohcfrBU&sensor=false"
    = javascript_include_tag 'show_drive'
  
  %h1 Dane przejazdu
  .drives_show
    %div
      %span
        Miejsce startowe:
      %span
        = @drive.start_city.name
    - if @throughs
      %div
        Przez:
        - @throughs.each do |through|
          %div
            = through.city.name
            
    %div
      %span
        Miejsce docelowe:
      %span
        = @drive.destination_city.name
        
    - if @drive.get_distance_in_km
      %div
        %span
          Długość przejazdu:
        %span
          = @drive.get_distance_in_km
          km
          
    - if @drive.comment
      %div
        %span
          Komentarz:
        %span
          = @drive.comment
          
    - if @drive.cost
      %div
        %span
          Cena:
        %span
          = @drive.cost
          = @drive.currency
    %div
      %span
        Data wyjazdu:
      %span
        = @drive.date
    %div
      %span
        Ilość wolnych miejsc:
      %span
        = @drive.free_seats
        
    %div
      - if @drive.user.get_email(current_user)
        %span
          email wystawiającego:
        %span
          = @drive.user.get_email(current_user)
    %div
      - if @drive.user.get_alt_email(current_user)
        %span
          drugi email wystawiającego:
        %span
          = @drive.user.get_alt_email(current_user)
    %div   
      - if @drive.user.get_phone_number(current_user)
        %span
          numer telefonu wystawiającego:
        %span
          = @drive.user.get_phone_number(current_user)
      
    - if current_user and @drive.user.id == current_user.id
      
      = link_to 'usuń przejazd', {:action => 'destroy', :id => @drive.id}, :confirm => "Jesteś pewien?", :method => 'delete'
      
      %div{:style => 'margin-top: 25px'}
        = render 'shared/show_drive_reservations' if @drive.reservations.length > 0
      
    - else
      
      %div
        %span
          Wystawiono przez:
        %span
          = link_to @drive.user.name, ''
          = link_to 'wyślij wiadomość', '/messages/new/' + current_user.id.to_s + '/' + @drive.user.id.to_s if current_user
          
      = link_to 'złóż rezerwację', '/reservations/' + @drive.id.to_s + '/' + current_user.id.to_s if current_user and !current_user.check_if_already_reserved(@drive)
      
  #map_canvas{:style => "width:350px; height:350px; float: right; position: absolute; left: 350px; top: 50px;"}

- else
  
  %h1 Błąd
  %p
    Nie znaleziono żądanego przejazdu.