%h2 Zapomniałeś/aś hasłą?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div= f.submit "Prześlij instrukcje odnowy hasła"
= render :partial => "devise/shared/links"
