#user_drives
  
  %h3 Twoje aktualne przejazdy
  
  - if @user.get_up_to_date_drives.length > 0
    
    %table.drives_index
      %thead
        %tr
          %td miejsce startowe
          %td miejsce docelowe
          %td ilość wolnych miejsc
          %td data wyjazdu
          %td
      %tbody
        - @user.get_up_to_date_drives.each do |drive|
          %tr
            %td
              = drive.start_city.name
            %td
              = drive.destination_city.name
            %td
              = drive.free_seats
            %td
              = drive.date
            %td
              = link_to 'pokaż', drive
            
  - else
    %p
      W tej chwili nie masz żadnych aktualnych przejazdów.
      
#user_archival_drives

  %h3 Twoje archiwalne przejazdy

  - if @user.get_archival_drives.length > 0
  
    %table.drives_index
      %thead
        %tr
          %td miejsce startowe
          %td miejsce docelowe
          %td ilość wolnych miejsc
          %td data wyjazdu
          %td
      %tbody
        - @user.get_archival_drives.each do |drive|
          %tr
            %td
              = drive.start_city.name
            %td
              = drive.destination_city.name
            %td
              = drive.free_seats
            %td
              = drive.date
            %td
              = link_to 'pokaż', drive
  
  - else
  
    %p
      W tej chwili nie masz żadnych archiwalnych przejazdów.



  