#user_data
  
  .info
    %span
      Login:
    %span{:id => 'name_value'}
      = @user.name
      
  .info
    %span
      imię:
    %span{:id => 'first_name_value'}
      - if @user.first_name
        = @user.first_name
      - else
        brak danych
        -# %button{:id => 'add_first_name'}
        -#  wprowadź imię
    %span{:id => 'add_first_name_span'}
        
  .info
    %span
      Nazwisko:
    %span{:id => 'last_name_value'}
      - if @user.last_name
        = @user.last_name
      - else
        brak danych
        
  .info
    %span
      Email:
    %span{:id => 'email_value'}
      = @user.email
    %span
      widoczność:
      = translate_visibility(@user.show_email)
     
  .info
    %span
      Alternatywny email:
    %span{:id => 'alt_email_value'}
      - if @user.alt_email
        = @user.alt_email
      - else
        brak danych
    %span
      widoczność:
      = translate_visibility(@user.show_alt_email)
        
  .info
    %span
      Numer telefonu:
    %span{:id => 'phone_number_value'}
      - if @user.phone_number
        = @user.phone_number
      - else
        brak danych
    %span
      widoczność:
      = translate_visibility(@user.show_phone_number)
        
  .info
    %span
      Data urodzenia:
    %span{:id => 'birthdate_value'}
      - if @user.birthdate
        = @user.birthdate
      - else
        brak danych
        
  .info
    %span
      Miasto:
    %span{:id => 'hometown_value'}
      - if @user.hometown
        = @user.hometown.name
      - else
        brak danych
    %span
      widoczność:
      = translate_visibility(@user.show_hometown)
        
  #buttons_div
    %button{:id => 'edit_profile'}
      edytuj dane osobowe
